
/* Your CSS Code here. */
.holder{
 
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   
}
.holder>div{
    height:150px;
    width: 150px;
    background-color: aquamarine;
    margin: 10px;
    font-size: 50px;
}